.page-game {
	width: 100%;
	height: 90vh;

	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 5vh;

	.room-guard {
		z-index: 1;
		position: absolute;
		width: 100%;
		height: 100%;

		display: flex;
		align-items: center;
		justify-content: center;

		> .shadow {
			display: block;
			position: absolute;
			background-color: rgba(0, 0, 0, 0.596);
			width: 100%;
			height: 100%;

			content: " ";

			backdrop-filter: blur(5px);
		}

		> .modal {
			z-index: 2;

			max-width: 500px;

			#room-guard-form {
				padding: 15px;
			}
		}
	}


	.game {
		display: grid;
		gap: 5px;

		--canvas-height: 550px;

		height: 100%;

		grid-template:
			"player canvas canvas" var(--canvas-height)
			"player answer chat" minmax(100px, 20%);
	
		> .player-area {
			grid-area: player;
			background-color: var(--primary-color-faded);
			width: 100vw;
			max-width: 300px;
			height: 100%;

			#players {
				display: flex;
				align-items: flex-end;
				justify-content: center;
				flex-direction: column;
				gap: 5px
			}
		}
	
		> .canvas-area {
			grid-area: canvas;
			width: 900px;
			height: var(--canvas-height);

			margin: auto;
		}
	
		> .answer-area {
			grid-area: answer;
			width: 450px;

			> * {
				--chat-border-radius: 20px 0px 0px 20px;
			}
		}
	
		> .chat-area {
			grid-area: chat;
			width: 450px;

			> * {
				--chat-border-radius: 0px 20px 20px 0px;
			}
		}
	}



}

