.game-canvas__container {
	width: 100%;
	height: 100%;

	border: solid 4px var(--primary-color);
	border-radius: 26px;

	background-color: white;

	> .word {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		text-transform: uppercase;
		letter-spacing: 5px;
		font-size: 1.5rem;
	}

	> .main {
		display: flex;
		flex-direction: row;

		width: 100%;
		height: 90%;

		> .tools {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;

			align-items: flex-start;
			justify-content: center;

			height: 100%;
			width: 50px;
			
			> span {

				cursor: pointer;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			
			> span:not(.icon) {
				width: 35px;
				height: 35px;
				
				margin: 2px;
				border-radius: 5px;
				border: 1px solid black;
				content: " ";
			}

			> input[type='color'] {
				width: 35px;
				height: 35px;
				border-radius: 5px;
				border: 1px solid black;
				content: " ";
			}
		}

		> .tools.hidden {
			visibility: hidden;
		}
	
		> .drawing {
			width: 100%;
			height: 100%;

			#svgCanvas {
				width: 100%;
				height: 100%;
				background-color: #ffffff;
				touch-action: none;
			}
		}
	}

}