<div>
  <.header>
    App
    <:subtitle>A interesting app</:subtitle>
    <:actions>
      <%= for n <- 1..5 do %>
        <.button>Test <%= n %></.button>
      <% end %>
    </:actions>
  </.header>
  <.modal id="confirm-modal">
    This is a modal.
  </.modal>
  <.button 
		phx-click={show_modal("confirm-modal")}
	>
    Show modal
  </.button>
  <.error>Cool error</.error>
  <.error>Other error</.error>
</div>
