<div>
  <.header>
    App
    <:subtitle>A interesting app</:subtitle>
    <:actions>
      <%= for n <- 1..5 do %>
        <.button>Test <%= n %></.button>
      <% end %>
    </:actions>
  </.header>
  <.modal id="confirm-modal">
    This is a modal.
  </.modal>
  <.button 
		phx-click={show_modal("confirm-modal")}
	>
    Show modal
  </.button>
  <.error>Cool error</.error>
  <.error>Other error</.error>
  <.icon name="hero-bolt"/>

  <.input name="my-input" value="" errors={["oh no!"]} />
  <.input name="email" type="email" value="" />
  <.input name="password" type="password" value="" />
  <.input name="textarea" type="textarea" value="" />
  <.input name="select" type="select" value="" options={["a","b"]}/>
  <.input name="checkbox" type="checkbox" value="" label="Abc" />

  <.label>Abc</.label>

  <.list>
    <:item title="Name">Otavio</:item>
    <:item title="Age">1000 years old</:item>
    <:item title="Location">Brazil</:item>
    <:item title="Favorite language">Elixir</:item>
  </.list>

  <.table id="users" rows={[%{id: "123", username: "otaviocap"}, %{id: "456", username: "none"}]}>
    <:col :let={user} label="id"><%= user.id %></:col>
    <:col :let={user} label="username"><%= user.username %></:col>
  </.table>
  
</div>
